body {
    background-image: url('assets/content/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 4.5rem; 
    text-align: center;
    margin-top: 130px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 1rem; 
    text-align: center; 
    color: white; 
    margin-top: 0; 
    font-weight: 400; 
    display: block; 
    line-height: 1.5; 
    opacity: 0.4; 
}

.redacted {
    font-size: 1rem; 
    color: white; 
    font-weight: 400; 
    margin-top: 0; 
    display: inline-block; 
    overflow: hidden; 
    white-space: nowrap; 
    width: 60px; 
    vertical-align: middle; 
    line-height: 1.5; 
}

.box {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px; 
    width: 80%; 
    max-width: 600px; 
    height: 200px;
}
